[Desktop Entry]
Encoding=UTF-8
Name=Link to higgsfield/RL-Adventure-2: PyTorch0.4 implementation of: actor critic / proximal policy optimization / acer / ddpg / twin dueling ddpg / soft actor critic / generative adversarial imitation learning / hindsight experience replay
Type=Link
URL=https://github.com/higgsfield/RL-Adventure-2
Icon=text-html
Name[en_SG]=RLMethodsGithub
