[Desktop Entry]
Encoding=UTF-8
Name=Link to Unity-Technologies/ml-agents: Unity Machine Learning Agents Toolkit
Type=Link
URL=https://github.com/Unity-Technologies/ml-agents
Icon=text-html
Name[en_SG]=UnityMLAgents
