[Desktop Entry]
Encoding=UTF-8
Name=Link to openai/baselines: OpenAI Baselines: high-quality implementations of reinforcement learning algorithms
Type=Link
URL=https://github.com/openai/baselines
Icon=text-html
